
.mainContainer {
    display: flex;
    width: 100%;
    min-height: 500px;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: flex-start;
    color: var(--grey-color);
    background-color: var(--bg-main);
}
a {
    color: black;
    z-index: 999;
}

.name {
    margin: 0;
    font-size: 35px;
    font-weight: bolder;
}

p {
    font-size: 13px;
}

.link {
    display: flex;
    justify-content: center;
}

.presentationContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-top: 20px;
    color: var(--blue-color);
    position: relative;
}

.productsContainer {
    display: flex;
    flex-direction: column;
    padding: 0 80px 0 250px;
}

.productContainer {
    margin: auto;
    padding: 50px;
    position: relative;
    width: 100%;
}

.productContainer2 {
    margin: auto;
    padding: 50px;
    position: relative;
    width: 100%;
}

.productContainer3 {
    margin: auto;
    padding: 50px;
    position: relative;
    width: 100%;
}

.productExample {
    display: block;
    width: 60%;
    margin: auto;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.productExample2 {
    display: block;
    width: 60%;
    margin: auto;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.productExample3 {
    display: block;
    width: 60%;
    margin: auto;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    cursor: pointer;
}

.productExample:hover, .productExample2:hover, .productExample3:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.productText {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    margin: 0;
    font-size: 50px;
}

.productText2 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    margin: 0;
    font-size: 50px;
}

.productText3 {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 50%);
    text-align: center;
    margin: 0;
    font-size: 50px;
}

.logo {
    margin: auto;
    width: 50%;
}

.socialMediaContainer {
    display: flex;
    flex-direction: column;
}

.socialMediaIcons {
    margin: auto;
    padding: 20px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 3em;
}

.igIcon, .fbIcon{
    color: var(--blue-color);
}

.igIcon:hover, .fbIcon:hover{
    color: var(--orange);
}

.infoContainer {
    position: relative;
    width: 100%;
    margin: 0;
}
.info {
    background-image: url(../../assets/bgfood.jpg);
    background-size: 100%;
    height: 500px;
    text-align: center;
    position: relative;
    /* Foto de <a href="https://unsplash.com/@jsnbrsc?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Jason Briscoe</a> en <a href="https://unsplash.com/es/fotos/7MAjXGUmaPw?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */
}

.titleInfo {
    color: var(--blue-color);
    font-size: 50px;
    position: absolute;
    top: -45px;
    left: 295px;
}

@media (max-width: 1115px) {
    .presentationContainer {
        width: 30%;
    }
    .name {
        font-size: 30px;
        text-align: center;
    }
    .socialMediaIcons {
        padding: 15px;
        font-size: 2.4em;
    }
    .productExample, .productExample2,.productExample3 {
        width: 50%;
    }
    .productsContainer {
        padding-left: 150px;
    }
}

@media (max-width: 885px) {
    .presentationContainer {
        width: 50%;
    }
    .productContainer, .productContainer2, .productContainer3 {
        padding: 10px;
    }
    .productExample, .productExample2,.productExample3 {
        margin: 10px;
    }
    .logo {
        width: 40%;
    }
    p {
        font-size: 10px;
    }
    .titleInfo {
        font-size: 40px;
        top: -30px;
        left: 215px;
    }
}

@media (max-width: 685px) {
    .mainContainer {
        flex-direction: column-reverse;
        align-items: center;
    }
    .presentationContainer {
        width: 100%;
        margin: 100px 0 0;
        padding: 0;
    }
    .productsContainer {
        padding: 0;
        width: 100%;
    }
    .productContainer, .productContainer2, .productContainer3 {
        padding: 0;
    }
    .logo {
        margin: 0;
        width: 30%;
    }
    .info {
        height: 400px;
    }
    .titleInfo {
        font-size: 35px;
        top: -15px;
        left: 95px;
    }
}
@media (max-width: 555px) {
    .info {
        height: 300px;
    }
    .titleInfo {
        font-size: 25px;
        top: -5px;
        left: 45px;
    }
}
@media (max-width: 417px) {
    .info {
        height: 200px;
    }
    .titleInfo {
        font-size: 25px;
        top: -5px;
        left: 45px;
    }
}