.navbar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 80px;
    text-align: center;
    color: var(--grey-color);
    /* background-image: url(../../assets/bgtomato.jpg); */
    /* background-color: #113C07; */
    width: 20%;
    position: fixed;
    z-index: 999;
    /* From https://css.glass */
    background: var(--secondary-color-dark);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    border: 1px solid rgba(17, 60, 7, 0.29);
}

ul {
    padding: 0;
    width: 100%;
}

li {
    color: var(--main-color);
    list-style: none;
    cursor: pointer;
    font-size: 20px;
    width: 100%;
    padding: 10px 0;
    transition-duration: .5s;
}

li:hover {
    background-color: var(--orange);
    font-size: 25px;
}

.ulContainer {
    position: relative;
    width: 100%;
}

.homeContainer {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 20px;
    gap: 5px;
}

a {
    text-decoration: none;
}

@media (max-width: 955px) {
    li {
        font-size: 15px;
    }
    li:hover {
        font-size: 20px;
    }
}

@media (max-width: 800px) {
    li {
        font-size: 13px;
    }
    li:hover {
        font-size: 16px;
    }
}

@media (max-width: 685px) {
    .navbar {
        flex-direction: row;
        width: 100%;
        padding: 0;
        height: 64px;
        z-index: 1000;
    }
    ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    li {
        font-size: 15px;
    }
    li:hover {
        font-size: 18px;
        color: #8f8f8fad;
        background: none;
    }
    .homeContainer {
        padding: 0;
        align-items: baseline;
    }
}

@media (max-width: 425px) {
    li {
        font-size: 11px;
    }
}