.navbar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 80px;
    text-align: center;
    color: var(--grey-color);
    /* background-image: url(../../assets/bgtomato.jpg); */
    /* background-color: #113C07; */
    width: 20%;
    position: fixed;
    z-index: 999;
    /* From https://css.glass */
    background: var(--secondary-color-dark);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.1px);
    -webkit-backdrop-filter: blur(5.1px);
    border: 1px solid rgba(17, 60, 7, 0.29);
}

li {
    color: var(--main-color);
}

a {
    text-decoration: none;
}