@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --main-color: #eff8ff;
  --bg-main: #ffa41218;
  --grey-color: #666;
  --grey-light-color: #bebebe;
  --white: #ffffff;
  --blue-color: #004976;
  --secondary-color: #17ce89;
  --secondary-color-dark: #0e8156;
  --orange: #ffa412ad;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;

  background: var(--main-color);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

}

body {
  margin: 0;
}

textarea {
  font-family: 'Roboto', sans-serif;
}

.pageContainer {
  position: relative;
  width: 100%;
}
